In [1]:
import pandas as pd
from ggplot import *
%matplotlib inline

In [2]:
df = pd.read_csv('sharks_coords.csv')
df= df.fillna('')

In [13]:
top_a = df['Activity'].value_counts().index.tolist()
top_a.remove('')
def top_acts(x):
    if str(x) in top_a:
        return True
    else:
        return False

In [4]:
df['Top_Activity'] = df.Activity.map(top_acts)

In [5]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal', 'Time', 'Species',
       'Investigator or Source', 'pdf', 'href formula', 'href', 'year',
       'month', 'day', 'latitude', 'longitude', 'Top_Activity'],
      dtype='object')

In [11]:
top_activities = df[(df['Top_Activity']==True) & (df.year>1900) & (df.Type=='Unprovoked Incidents')]
# top_activities = top_activities.groupby(['year','Activity']).apply(len).reset_index()[:-1]
# top_activities.columns=['year','Activity','Count']
# top_activities.tail()

In [12]:
ggplot(aes(x='year', y='Count', color='Activity'), data=top_activities) + geom_line() +\
    xlab("Year") + ggtitle("Shark Attacks")

Exception: Could not evaluate the 'y' mapping: 'Count' (original error: name 'Count' is not defined)

In [367]:
top_countries = df['Country'].value_counts()[:10].index.tolist()

def top_country(x):
    if str(x) in top_countries:
        return True
    else:
        return False

df['Top_Country'] = df.Country.map(top_country)

In [375]:
top_countries = df[(df.Top_Country==True) & (df.year>1900) & (df.Attack_Type=='Unprovoked Incidents')]
top_countries = top_countries.groupby(['year','Country']).apply(len).reset_index()[:-4]
top_countries.columns=['year','Country','Count']
top_countries[-10:]

     year       Country  Count
525  2014     AUSTRALIA     20
526  2014       BAHAMAS      2
527  2014        BRAZIL      1
528  2014   NEW ZEALAND      2
529  2014  SOUTH AFRICA      2
530  2014           USA     52
531  2015     AUSTRALIA      7
532  2015       BAHAMAS      1
533  2015  SOUTH AFRICA      2
534  2015           USA     19

In [16]:
ggplot(aes(x='year', y='Count', color='Country'), data=top_countries) + geom_point() +\
    xlab("Year") + ggtitle("Shark Attacks") +

SyntaxError: invalid syntax (<ipython-input-16-a615c25a625c>, line 1)

In [ ]:
df.